{% extends 'base.html.twig' %}

{% block title %}Driver Creator{% endblock %}

{% block body %}

    <div class="container border__container padding__container mb-5">
        <h2>Form Driver</h2>
        {{ include('driver_creator/_form.html.twig') }}
    </div>

{% endblock %}