{% extends 'base.html.twig' %}

{% block title %}Vehicle Creator{% endblock %}

{% block body %}

    <div class="container border__container padding__container mb-5">
        <h2>Form Vehicle</h2>
        {{ include('vehicle_creator/_form.html.twig') }}
    </div>

{% endblock %}