{% extends 'base.html.twig' %}

{% block title %}Drivers{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="container border__container padding__container mb-5">
            <h1>Hello</h1>

            <div class="container border__container padding__container mb-5">
                {{ include('drivers/_table.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}