{% extends 'base.html.twig' %}

{% block title %}Drivers{% endblock %}

{% block body %}
    <div class="container border__container padding__container mb-5">
        <h2>Vehicles</h2>
        {{ include('drivers/_table.html.twig') }}
    </div>
{% endblock %}