<div class="container">
    <div class="row justify-content-center">
        <form>
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="mb-3">
                <label for="select1" class="form-label">Vehicle</label>
                <select class="form-select" id="vehicle" name="vehicle" disabled required>
                </select>
            </div>
            <div class="mb-3">
                <label for="select2" class="form-label">Driver</label>
                <select class="form-select" id="driver" name="driver" disabled required>
                </select>
            </div>
            <div class="btn-toolbar justify-content-end mt-4">
                <button type="submit" class="form-control btn btn-primary" id="trip-creator--btn">Create</button>
            </div>
        </form>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('trips') }}
{% endblock %}