{% extends 'base.html.twig' %}

{% block title %}Trips{% endblock %}

{% block body %}

    <h1>Trips</h1>

    <div class="container border__container padding__container mb-5">
        {{ include('trips/_form.html.twig') }}
    </div>

    <div class="container border__container padding__container mb-5">
        {{ include('trips/_table.html.twig') }}
    </div>

{% endblock %}