{% extends 'base.html.twig' %}

{% block title %}Trips{% endblock %}

{% block body %}

    <div class="container border__container padding__container mb-5">
        <h2>Form</h2>
        {{ include('trips/_form.html.twig') }}
    </div>

    <div class="container border__container padding__container mb-5">
        <h2>Trips</h2>
        {{ include('trips/_table.html.twig') }}
    </div>

{% endblock %}