{% extends 'base.html.twig' %}

{% block title %}Vehicles{% endblock %}

{% block body %}

    <div class="container border__container padding__container mb-5">
        <h2>Vehicles</h2>
        {{ include('vehicles/_table.html.twig') }}
    </div>
{% endblock %}